<h1>All Customers Alphabetized</h1>

<div class="navigation_links">
  <%= link_to 'New Customer', new_customer_path %> -
  <%= link_to 'All Customers', root_path %>
</div>

<%= render @customers %>

<br>
